body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #E8E5E5;
}

input, label {
    display: block;
    margin: 10px 0;
}

input {
    margin: 0 auto;
}

label {
    text-align: center;
}

.footer {
    margin-top: 500px;
    border-top: 1px solid #000;
    padding: 20px;
}

.mid {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.col-sm-12 {
    text-align: center;
}

.col-sm-12 .p1 {
    text-align: center;
    padding-top: 30px;
}

#id_completed {
    margin: 0 auto;
    display: block;
}

.adtodo-form:last-child input {
    display: inline-block;
    /* padding-left: 22px; */
    margin: 0 auto;
    text-align: center;
}
.form-control{
    width: 500px;
}

.table .table-bordered {
    padding-top: 25px;
}

.form-container {
    width: 650px;
    box-shadow: 0 0 21px 0 grey;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: white;
    margin-top: calc(50% - 450px);
}