{% extends "base.html" %}
{% block title %}Add | {{ title }}{% endblock %}
{% block content %}
    <div class="mid">
        <div>
            <b>{{ title }}</b>&nbsp;|&nbsp;<a href="/login">Logout</a>
        </div>
        <div class=row>
            <div class="col-sm-12">
                <h1>Add Todo Task</h1>
            </div>
        </div>
        <form action="" method="POST" class="adtodo-form">
            {{ form.errors }}
            {% csrf_token %}
            {{ form.as_p }}
            <div class=row>
                <div class="col-sm-12">
                    <button type="submit" value="Add" class="btn btn-primary">Add</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}