{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'todo/style.css' %}"/>
    <title>TodoTask| {% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<div class="body" style="background-color: whitesmoke;, font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857;
color: #333;
text-align: center;">
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
    <div class="footer" , style=text-align:center;">
        {% block footer %}{% endblock %}
        Copyright 2015
    </div>
</div>
</body>
</html>