{% extends "base.html" %}
% block title %}Delete | {{ title }}
{% block content %}
    <div class=row>
    <div class="col-sm-12">
        <h1>Fshi</h1>
    </div>
    </div>
<form method="POST">
    {% csrf_token %}
    <h4>Are you sure you want to delete?</h4>
    <div class=row>
        <div class="col-sm-12p1">
            <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
            <a href="{% url "task-list" %}">No, cancel.</a>
        </div>
    </div>
</form>
{% endblock %}