{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Log in</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="{% static 'todo/style.css' %}"/>
</head>
<body>
<div class="form-container">
    {{ state }}
    <form action="" method="POST" class="form-horizontal">
        {{ form.errors }}
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}"/>
        {% endif %}
        {% comment %}username:{% endcomment %}
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">Username:</label>

            <div class="col-sm-10">
                <input type="text" name="username" value="{{ username }}" class="form-control" id="username" placeholder="username">
            </div>
        </div>
        {% comment %}<input type="text" name="username" value="{{ username }}"/><br/>{% endcomment %}
        {% comment %}password:{% endcomment %}
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">Password:</label>

            <div class="col-sm-10">
                <input type="password" name="password" value="" class="form-control" id="password"
                       placeholder="password">
            </div>
        </div>
        {% comment %}<input type="password" name="password" value=""/><br/>{% endcomment %}
        {% comment %}<input type="submit" value="Log In"/>{% endcomment %}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" value="Log In" class="btn btn-primary">Sign in</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>