.mid {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.col-sm-12 {
    text-align: center;
}

.col-sm-12 .p1 {
    text-align: center;
    padding-top: 30px;
}

#id_completed {
    margin: 0px auto !important;
    display: block;
}

.adtodo-form:last-child input {
    display: inline-block;
    /* padding-left: 22px; */
    margin: 0px auto;
    text-align: center;
}

.table .table-bordered {
    padding-top: 25px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #E8E5E5;
}

.form-container {
    width: 400px;
    box-shadow: 0px 0px 21px 0px grey;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: white;
    margin-top: calc(50% - 450px);
}

.form-horizontal {
    width: 30%;
    margin: 10% auto;
    background-color: rgb(195, 195, 195);
    padding: 10px;
    box-shadow: 0px 0px 18px 1px black;
}