{% extends "base.html" %}
{% block content %}
    <div class="mid">
        <a class="btn btn-default" href="/add-todo" role="button">ToDoTask</a>
        <table class="table table-bordered">
            <tr class="active">
                <th>Title</th>
                <th>Description</th>
                <th>Address</th>
                <th>Start Date</th>
                <th>Ndrysho</th>
                <th>Fshi</th>
                <th>Completed</th>
            </tr>
            {% for item in object_list %}
                <tr class="active">
                    <td>{{ item.title }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.address }}</td>
                    <td>{{ item.start_date }}</td>
                    <td><a class="btn btn-primary" href="{% url 'task-update' item.id %}">Ndrysho</a></td>
                    <td><a class="btn btn-danger" href="{% url 'task-delete' item.id %}">Fshi</a></td>
                    <td><input disabled type="checkbox" {% if item.completed %}checked{% endif %}/></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}