{% extends "base.html" %}
% block title %}Ndrysho | {{ title }}
{% block content %}
<div class=row>
    <div class="col-sm-12">
        <h1>Ndrysho</h1>
    </div>
</div>
<form class="col-md-4 col-md-offset-4" action="{% url "task-update" object.id %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div class=row>
        <div class="col-sm-12">
            <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
{% endblock %}